extends layout

block content
    h1 #{profile.user_name}'s Page
    hr
    div(id='profileDiv')
        section(id='profileHeader')
            div(id='profilePicDiv')
                img(src='myAvatar()', alt='')
            br
            div(id='usernameDiv')
                p Username :: [#{profile.user_name}]
        hr
        section(id='profileBody')
            div(id='accountTypeDiv')
                p User Type :: [#{profile.account_type}]
            div(id='nameDiv')
                p Full Name :: [#{profile.first_name} #{profile.last_name}]
            div(id='emailDiv')
                p Email :: [#{profile.email}]
    div(id='controlsDiv')
        a(href=`/editAccount/${profile.id}`) Edit Account 
        br
        a(href=`/deleteAccount/${profile.id}`) Delete Account